<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Daniel Pérez Felipe.</p> 

<p>Cuenta en Github: <a href="https://github.com/dpfar/quiz_2017">enlace </a>
</p>
<a href="/help">/help</a>

<img src="/images/2046.jpg" />

